.container {
  margin-top: -800px;
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  grid-template-rows: repeat(7, 108px);
  padding-bottom: 100px;
}

.rubrik {
  padding-top: 15px;
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  z-index: 2;
}

nav {
  grid-column: 2 / 3;
  grid-row: 5 / 7;
  z-index: 3;
}

.container2 {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  grid-template-rows: auto auto 200px;
}

header{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: red;

}

section{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: blue;
}

figure{
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-color: black;
}

.container3 {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  grid-template-rows: auto auto 200px;
}

header{
  grid-column: 1 / 2;
  grid-row: 1 / 2;

}

section{
  grid-column: 1 / 2;
  grid-row: 2 / 3;

}

figure{
  grid-column: 2 / 3;
  grid-row: 1 / 3;

}
