.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 108px);
}

header {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  z-index: 2;
}

section {
  grid-column: 2 / 4;
  grid-row: 4 / 6;
  z-index: 2;
}
