.container {
  margin-top: -900px;
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  grid-template-rows: repeat(7, 108px);
}

header {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  z-index: 2;
}

nav {
  grid-column: 2 / 3;
  grid-row: 5 / 7;
  z-index: 3;
}
