* {
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
}

.bakgrundsbild {
  background-image: url("../img/Bakgrundsbild.png");
  background-color: #cccccc;
  height: 840px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bakgrundstext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
