* {
  text-align: center;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  font-size: 30px;
  background-color: lightgray;
}

nav {
  width: 100%;
  font-size: 30px;
  margin-top: -30px;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

li {
  display: inline-block;
}

li a {
  display: flex;
  align-items: center;
  background-color: #4d4d4d;
  text-decoration: none;
  font-weight: bold;
  color: white;
  width: 170px;
  height: 100px;
  padding: 15px;
}

li a:hover {
  background-color: #1a1a1a;
  transform: scale(1.1);
  transition: .3s;
}
