* {
  text-align: center;
  box-sizing: border-box;
}

img{

}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.fade {
  -webkit-animation: fade 7s;
  animation: fade 7s;
  -moz-animation: fade 7s;
  -o-animation: fade 7s;
}

@-webkit-keyframes fade {
0% {opacity: 0.2}
50% {opacity: 1}
100% {opacity:0.4}
}

@-moz-keyframes fade {
  0% {opacity: 0.2}
  50% {opacity: 1}
  100% {opacity:0.4}
}

@keyframes fade {
  0% {opacity: 0.2}
  50% {opacity: 1}
  100%{opacity: 0.4}
}

@-o-keyframes fade {
  0% {opacity: 0.2}
  50% {opacity: 1}
  100%{opacity: 0.4}
}

header {
  font-size: 30px;
  background-color: lightgray;
}

nav {
  width: 100%;
  font-size: 30px;
  margin-top: -30px;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

li {
  display: inline-block;
}

li a {
  display: flex;
  align-items: center;
  background-color: #4d4d4d;
  text-decoration: none;
  font-weight: bold;
  color: white;
  width: 170px;
  height: 100px;
  padding: 15px;
}

li a:hover {
  background-color: #1a1a1a;
  transform: scale(1.1);
  transition: .3s;
}
